<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello Books - Signup</title>
	    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/material-kit.css">
    </head>

    <body>
        <!-- FULLSCREEN SECTION -->
        <div class="section section-full-screen section-signup" style="background-image: url('img/library.png'); background-size: cover; background-position: top center; min-height: 700px;">
            <!-- FORM CONTAINER -->
            <div class="container">
                <div class="row">
                    <!-- USING 5-COL WIDTH -->
                    <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-3">
                        <div class="card card-signup">
                            <!-- FORM -->
                            <form class="form" method="" action="">
                                <!-- FORM HEADER -->
                                <div class="header header-primary text-center">
                                    <h4>Sign Up</h4>
                                    <div class="social-line">
                                        <a href="#pablo" class="btn btn-simple btn-just-icon">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- FORM CONTENT -->
                                <div class="content">
                                    <!-- USERNAME FIELD -->
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Username</label>
                                            <input type="text" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <!-- EMAIL FIELD -->
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Email</label>
                                            <input type="email" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <!-- PASSWORD FIELD -->
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Password</label>
                                            <input type="password" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <!-- CONFIRM PASSWORD -->
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">check_circle</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Confirm Password</label>
                                            <input type="password" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <!-- SUBSCRIBE -->
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                            <em>Subscribe to newsletter</em>
                                        </label>
                                    </div> 
                                    <!-- GET STARTED BUTTON-->
                                    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                                        <a class="btn btn-primary btn-round" href="discover.html">GET STARTED!</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/material-kit.js"></script>
    <script src="js/material.min.js"></script>

</html>